{% if article.metafields.custom_fields["price"] != blank %}
  <div class="custom-field custom-field__price custom-field__type--text">
    <h3 class="custom-field--title">Price</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["price"] }}
    </div>
  </div>
{% endif %}