{% if product.metafields.custom_fields["short_description"] != blank %}
  <div class="custom-field custom-field__short-description custom-field__type--text">
    <h3 class="custom-field--title">Meet the Maker</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["short_description"] }}
    </div>
  </div>
{% endif %}