{% if product.metafields.custom_fields["vendor_name"] != blank %}
  <div class="custom-field custom-field__vendor-name custom-field__type--text">
    <h3 class="custom-field--title">Vendor Name</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["vendor_name"] }}
    </div>
  </div>
{% endif %}