{% if product.metafields.custom_fields["vendor_url"] != blank %}
  <div class="custom-field custom-field__vendor-url custom-field__type--url">
    <h3 class="custom-field--title">Vendor URL</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["vendor_url"] }}
    </div>
  </div>
{% endif %}