{% if product.metafields.custom_fields["vendor_image"] != blank %}
  <div class="custom-field custom-field__vendor-image custom-field__type--image">
    <h3 class="custom-field--title">Vendor Image</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: product.metafields.custom_fields["vendor_image"] %}
    </div>
  </div>
{% endif %}