{% if product.metafields.custom_fields["video_text"] != blank %}
  <div class="custom-field custom-field__video-text custom-field__type--text">
    <h3 class="custom-field--title">Video Text</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["video_text"] }}
    </div>
  </div>
{% endif %}