<div class="events-page event-map-section">
 <div class="article-events-inner">
   <div class="page-width page-width-article-events events-content" style="max-width: calc(840px + 10rem); margin: 0 auto;">
     <div class="rte">
        <h2>Show off your green thumb in our first-ever Big Grower fruit growing contest!</h2>
        <div style="font-size: 16px; font-weight:700; line-height: 28px; color: #585f51; text-align: center;">{{ article.content }}</div>
        <h2 style="margin-top:2.5rem; margin-bottom:1.5rem;">Sign Up Today</h2>
        <div class="klaviyo-form-RVPjaN"></div>
<div id="recommended" style="border-top: 1px solid #bcc1b7; margin-top:5.5rem; padding-top:2.5rem;">
<h3>Recommended Planting/Growing Schedule</h3>
<p><strong>Watermelon</strong></p>
<ul>
  <li><strong>Entry Deadline:</strong> Saturday, July 23</li>
  <li><strong>Contest Judging:</strong> Saturday, July 30, 12:00 pm at the Farmers Market Pavilion</li>
  <li><strong>Growing period:</strong> 80 days</li>
  <li><strong>Recommended planting:</strong> April 30 through May 10</li>
</ul>
<p><strong>Tomato</strong></p>
<ul>
<li><strong>Entry Deadline:</strong> Saturday, July 23</li>
<li><strong>Contest Judging:</strong> Saturday, July 30, 12:00 pm at the Farmers Market Pavilion</li>
<li><strong>Growing period:</strong> 60-80 days</li>
  <li><strong>Recommended planting:</strong> April 30 through May 10</li>
</ul>
<p><strong>Pumpkin</strong></p>
<ul>
<li><strong>Entry Deadline:</strong> Saturday, August 27</li>
<li><strong>Contest Judging:</strong> Saturday, September 3, 12:00 pm at the Farmers Market Pavilion</li>
<li><strong>Growing period:</strong> 100-120 days</li>
  <li><strong>Recommended planting:</strong> April 30 through May 10</li>
</ul>
</div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .article-events-inner {
    	background-image: url('https://cdn.shopify.com/s/files/1/0277/5518/4198/files/big-grower-watermelon-sm3.jpg?v=1647527459'), url('https://cdn.shopify.com/s/files/1/0277/5518/4198/files/big-grower-watermelon-sm3.jpg?v=1647527459');
    	background-repeat: no-repeat, no-repeat; 
    }
  @media only screen and (max-width: 768px;) {
   	.article-events-inner {
    	background:none !important; 
    }
  }
</style>

{% schema %}
{
  "name": {
     "en": "Articl event locally"
  },
  "class": "index-section index-section--flush articl-events-locally",
  "settings": [
    {
      "type": "text",
      "id": "main_title",
     "label":"Heading"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "right_img",
      "label":"Right Image"
    },
    {
      "type": "image_picker",
      "id": "left_img",
      "label":"Left Image"
    },
    {
      "type": "image_picker",
      "id": "map_image",
      "label":"Map Image"
    },
    {
      "type": "image_picker",
      "id": "map_icone",
      "label":"Map Icone"
    },
    {
      "type": "text",
      "id": "map_title",
     "label":"Heading"
    },
    {
      "type": "html",
      "id": "address_name",
     "label":"Heading"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label":"Banner Image"
    },
    {
      "type": "html",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label":"Button link"
    }
  ]
}
{% endschema %}


