{% paginate blog.articles by 11 %}

<div class="page-width">
  <h1 class="blog-title">{{ blog.title }}</h1>
  
  {% for article in blog.articles %}
    {% if forloop.first %}
      {% include 'blog-first-article' with article: article %}
      {% break %}
    {% endif %}
  {% endfor %}
  
  <div class="blog-grid">
    {% for article in blog.articles %}
      {% if forloop.first %}
        {% continue %}
      {% endif %}
    
      {% if forloop.index == 4 or forloop.index == 9 %}
    	<div class="blog-grid-item-double">
          {% include 'blog-first-article' with article: article %}
        </div>
      {% else %}
        <div class="blog-grid-item {{ forloop.index }}">
        {% include 'blog-grid-item' with article: article %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  
  {%- if paginate.pages > 1 -%}
    {% include 'pagination', paginate: paginate %}
  {%- endif -%}
</div>

{% endpaginate %}