<div class="page-width">

	{% section 'promo-tab' %}
  
</div>



<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script>
  jQuery(document).ready(function($){
  	
    jQuery('.deals-page').show();
    jQuery('.deals-wrapper').hide();
    
  });
 

</script>