<div class="page-image-header">
  {% section 'page-shipping-policy-top' %}
  
  <div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="rte">
          {% section 'page-shipping-policy-inner' %}
        </div>
      </div>
    </div>
  </div>
</div>