<div class="story-wrapper">
  {% section 'story-hero' %}
  {% section 'story-join' %}
 
  {% section 'story-image-text-3' %}
  {% section 'story-blog' %}
  {% section 'story-hero-bottom' %}
  {% comment %}
  {% section 'story-newsletter' %}
  {% section 'newsletter' %}
  {% endcomment %}
  {% section 'story-newsletter-new' %}
</div>
