{% section 'hero-farmmarket' %}
{% section 'farmmarket-content' %}
{% comment %}
<div class="farmers-market-hero">
  <h1 class="farmers-market-hero-title">Farmers Market</h1>
  <p class="farmers-market-hero-sub">The Farmers Market at Farmview is a true local farmers market where all farmers and artisans are local and produce the product they sell.</p>
</div>
<div class="farmers-market-page-wrapper">
  <div class="page-width">
    <div class="farmers-market-page-container">
      <div class="farmers-market-page-left">
        <div class="farmers-market-details-text">
          <h2 class="farmers-market-details-title">Sat. 9/19 is our last regular season Farmers Market!</h2>
          <p class="farmers-market-details-message">In addition to our regular weekly market, we have several events planned this year that coincide with the farmers market that you won’t want to miss!</p>
        </div>
        <picture class="farmers-market-details-image">
          <source srcset="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/farmers-market-cooking.jpg?v=1614234829" media="(min-width: 1024px)">
          <source srcset="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/farmers-market-cooking-tablet.jpg?v=1614239731" media="(min-width: 480px)">
          <source srcset="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/farmers-market-cooking-mobile.jpg?v=1614239995">
          <img src="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/farmers-market-cooking.jpg?v=1614234829">
        </picture>
      </div>

      <div class="farmers-market-page-right">
        <h2 class="farmers-market-events-title">2020 Events</h2>

        <div class="farmers-market-events-list">
          <div class="farmers-market-events-list-item">
            <img class="farmers-market-events-list-item-image" src="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/summer-harvest-festival-thumbnail.jpg?v=1614237623">
            <div class="farmers-market-events-list-item-text">
              <p class="farmers-market-events-list-item-title">Summer Harvest Festival</p>
              <p class="farmers-market-events-list-item-date">13-Jun, 9am-1pm</p>
            </div>
            <div class="farmers-market-events-list-item-arrow">
              <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.29289 0.29289C-0.09763 0.68342 -0.0976301 1.31658 0.29289 1.70711L3.5858 5L0.29289 8.2929C-0.0976304 8.6834 -0.0976304 9.3166 0.29289 9.7071C0.68342 10.0976 1.31658 10.0976 1.70711 9.7071L5.7071 5.7071C6.0976 5.3166 6.0976 4.68342 5.7071 4.29289L1.70711 0.29289C1.31658 -0.0976299 0.68342 -0.09763 0.29289 0.29289Z" fill="#242721"/>
              </svg>
            </div>
          </div>
          
          <hr class="farmers-market-events-hr">

          <div class="farmers-market-events-list-item">
            <img class="farmers-market-events-list-item-image" src="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/local-heroes-thumbnail.jpg?v=1614237623">
            <div class="farmers-market-events-list-item-text">
              <p class="farmers-market-events-list-item-title">Local Heroes</p>
              <p class="farmers-market-events-list-item-date">4-Jul, 11am-1pm</p>
            </div>
            <div class="farmers-market-events-list-item-arrow">
              <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.29289 0.29289C-0.09763 0.68342 -0.0976301 1.31658 0.29289 1.70711L3.5858 5L0.29289 8.2929C-0.0976304 8.6834 -0.0976304 9.3166 0.29289 9.7071C0.68342 10.0976 1.31658 10.0976 1.70711 9.7071L5.7071 5.7071C6.0976 5.3166 6.0976 4.68342 5.7071 4.29289L1.70711 0.29289C1.31658 -0.0976299 0.68342 -0.09763 0.29289 0.29289Z" fill="#242721"/>
              </svg>
            </div>
          </div>
          
          <hr class="farmers-market-events-hr">

          <div class="farmers-market-events-list-item">
            <img class="farmers-market-events-list-item-image" src="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/flavors-of-fall-festival-thumbnail.jpg?v=1614237622">
            <div class="farmers-market-events-list-item-text">
              <p class="farmers-market-events-list-item-title">Flavors of Fall Festival</p>
              <p class="farmers-market-events-list-item-date">17-Oct, 11am-2pm</p>
            </div>
            <div class="farmers-market-events-list-item-arrow">
              <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.29289 0.29289C-0.09763 0.68342 -0.0976301 1.31658 0.29289 1.70711L3.5858 5L0.29289 8.2929C-0.0976304 8.6834 -0.0976304 9.3166 0.29289 9.7071C0.68342 10.0976 1.31658 10.0976 1.70711 9.7071L5.7071 5.7071C6.0976 5.3166 6.0976 4.68342 5.7071 4.29289L1.70711 0.29289C1.31658 -0.0976299 0.68342 -0.09763 0.29289 0.29289Z" fill="#242721"/>
              </svg>
            </div>
          </div>
          
          <hr class="farmers-market-events-hr">

          <div class="farmers-market-events-list-item">
            <img class="farmers-market-events-list-item-image" src="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/holiday-market-thumbnail.jpg?v=1614237623">
            <div class="farmers-market-events-list-item-text">
              <p class="farmers-market-events-list-item-title">Holiday Market</p>
              <p class="farmers-market-events-list-item-date">5-Dec, 9am-1pm</p>
            </div>
            <div class="farmers-market-events-list-item-arrow">
              <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.29289 0.29289C-0.09763 0.68342 -0.0976301 1.31658 0.29289 1.70711L3.5858 5L0.29289 8.2929C-0.0976304 8.6834 -0.0976304 9.3166 0.29289 9.7071C0.68342 10.0976 1.31658 10.0976 1.70711 9.7071L5.7071 5.7071C6.0976 5.3166 6.0976 4.68342 5.7071 4.29289L1.70711 0.29289C1.31658 -0.0976299 0.68342 -0.09763 0.29289 0.29289Z" fill="#242721"/>
              </svg>
            </div>
          </div>
        </div>

        <div class="farmers-market-question">
          <h3 class="farmers-market-question-title">Interested in becoming a vendor?</h3>
          <p class="farmers-market-question-message">Weekly Space Rental is $10, or $175 for the entire year. Download an <a class="farmers-market-link" href="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/Farmers-Market-At-Farmview-Application.pdf?v=1614240994" target="_blank" download>application</a> and <a class="farmers-market-link" href="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/Farmers-Market-At-Farmview-Rules-of-Operation.pdf?v=1614240994" target="_blank" download>guidelines</a> to get started.</p>
        </div>

        <div class="farmers-market-question">
          <h3 class="farmers-market-question-title">Questions?</h3>
          <p class="farmers-market-question-message"><span style="display: inline-block; padding-right: 4px;">For more info, contact</span> <a class="btn farmers-market-question-btn" href="mailto:brad@kellyreg.com">brad@kellyreg.com</a></p>
        </div>

        <a class="farmers-market-map-image-wrapper" href="https://www.google.com/maps/place/Farmview+Market/@33.5401081,-83.4619993,18z/data=!4m8!1m2!3m1!2sFarmview+Market!3m4!1s0x88f6867c2b0e9b09:0x60bde97f4d654053!8m2!3d33.5400601!4d-83.4611392" target="_blank">
          <picture class="farmers-market-map-image">
            <source srcset="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/farmers-market-map.jpg?v=1614238203" media="(min-width: 480px)">
            <source srcset="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/farmers-market-map-mobile.jpg?v=1614240649">
            <img src="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/farmers-market-map.jpg?v=1614238203">
          </picture>
        </a>
      </div>
    </div>
  </div>
</div>
{% endcomment %}