{% section 'cafe-direction' %}
{% comment %}
<div class="cafe-directions-page">
  <div class="page-width">    
    <div class="cafe-directions-page-container">
      
      
      <div class="cafe-directions-page-left">
        <h1 class="cafe-directions-title">Cafe directions</h1>
        <p class="cafe-directions-sub">Located off 1-20 at Exit 114, just south of Madison</p>
        <div class="cafe-directions-hours-container">
          <div class="cafe-directions-hours-inner">
            <h3 class="cafe-directions-hours-title">Breakfast Hours</h3>
            <p class="cafe-directions-hours-sub">Monday - Saturday | 7am - 10:30am</p>
          </div>
          <div class="cafe-directions-hours-inner">
            <h3 class="cafe-directions-hours-title">Lunch Hours</h3>
            <p class="cafe-directions-hours-sub">Monday - Saturday | 11am - 3pm</p>
          </div>
        </div>
        <h2 class="cafe-directions-address">2610 Eatonton Highway<br>Madison, GA 30650 United States</h2>
        <div class="cafe-directions-icon-holder">
          <div class="cafe-directions-icon">
            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 4L8.8906 9.2604C9.5624 9.7083 10.4376 9.7083 11.1094 9.2604L19 4M3 15H17C18.1046 15 19 14.1046 19 13V3C19 1.89543 18.1046 1 17 1H3C1.89543 1 1 1.89543 1 3V13C1 14.1046 1.89543 15 3 15Z" stroke="#8A9381" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <p>cafe@farmviewmarket.com</p>
        </div>
        <div class="cafe-directions-icon-holder">
          <div class="cafe-directions-icon">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 3C1 1.89543 1.89543 1 3 1H6.27924C6.70967 1 7.09181 1.27543 7.22792 1.68377L8.7257 6.17721C8.8831 6.64932 8.6694 7.16531 8.2243 7.38787L5.96701 8.5165C7.06925 10.9612 9.0388 12.9308 11.4835 14.033L12.6121 11.7757C12.8347 11.3306 13.3507 11.1169 13.8228 11.2743L18.3162 12.7721C18.7246 12.9082 19 13.2903 19 13.7208V17C19 18.1046 18.1046 19 17 19H16C7.71573 19 1 12.2843 1 4V3Z" stroke="#8A9381" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <p>678-729-1458</p>
        </div>
        <a href="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/FM-20_Menu_DineIn-21.pdf?v=1614241863" target="_blank" download>
        <button class="btn cafe-directions-btn">
          <span class="cafe-directions-btn-text">View cafe menu</span>
          <span class="cafe-directions-btn-icon">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 3H3C1.89543 3 1 3.89543 1 5V17C1 18.1046 1.89543 19 3 19H13C14.1046 19 15 18.1046 15 17V5C15 3.89543 14.1046 3 13 3H11M5 3C5 4.10457 5.89543 5 7 5H9C10.1046 5 11 4.10457 11 3M5 3C5 1.89543 5.89543 1 7 1H9C10.1046 1 11 1.89543 11 3M8 10H11M8 14H11M5 10H5.01M5 14H5.01" stroke="#242721" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </button>
        </a>
      </div>
      
      <div class="cafe-directions-page-right">
        <a href="https://www.google.com/maps/place/Farmview+Market/@33.5401081,-83.4619993,18z/data=!4m8!1m2!3m1!2sFarmview+Market!3m4!1s0x88f6867c2b0e9b09:0x60bde97f4d654053!8m2!3d33.5400601!4d-83.4611392" target="_blank">
          <picture class="cafe-directions-map-image">
            <source srcset="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/cafe-directions-map.jpg?v=1614242299" media="(min-width: 480px)">
            <source srcset="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/farmers-market-map-mobile.jpg?v=1614240649">
            <img src="https://cdn.shopify.com/s/files/1/0277/5518/4198/files/cafe-directions-map.jpg?v=1614242299">
          </picture>
        </a>
      </div>
      
    </div>
  </div>
</div>
{% endcomment %}