<div class="rockhouse-wrapper">
  {% section 'rockhouse-hero' %}
  {% section 'rockhouse-featured-promo' %}
  {% comment %}{% section 'rockhouse-hero-bottom' %}  {% endcomment %}
  {% section 'rockhouse-image-text' %}
  {% section 'rockhouse-custom-products' %}
  {% section 'rockhouse-newsletter' %}
</div>